@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply text-white bg-stone-900
}

@layer utilities{
        .no-scrollbar{
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        .no-scrollbar::-webkit-scrollbar{
            display: none ;
        }
}